{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'sidebar-form'}} ) }}
        <div class="input-group">
            {{ form_errors(form.reference) }}
            {{ form_widget(form.reference, {'attr': {'placeholder': 'Touist ref.'}}) }}
              <span class="input-group-btn">
                <button type="submit" name="search" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
        </div>
    {{ form_end(form) }}
{% endblock %}