{% extends 'base.html.twig' %}

{% block body %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Category creation</h3>
        </div>
        <div class="box-body">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-default" value="Create" />
            {{ form_end(form) }}

            <a href="{{ path('quiz_edit', { id: category.quiz.id }) }}" class="btn btn-link btn-default pull-right">Back to the list</a>
        </div>
    </div>
{% endblock %}
