{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <a href="{{ path('quiz_edit', { id: category.quiz.id }) }}">Back to the list</a>
{% endblock %}
