<script>
    $(document).ready(function() {
        var $criterias = $('.criterias');
        $criterias.data('index', $criterias.children().length);
        // addRemoveCriteriaLink($criterias.children());

        $('.btn-add-criteria').on('click', function(e) {
            e.preventDefault();
            var prototype = $criterias.data('prototype');
            var index = $criterias.data('index');
            var form = prototype.replace(/__name__label__/g, index).replace(/__name__/g, index);
            var $criteria = $('<div class="panel panel-default" style="display: none;"><div class="panel-body">' + form + '</div><div class="panel-footer"></div></div>');

            $criterias.append($criteria);
            // addRemoveCriteriaLink($criteria);
            $criteria.show('slow');

            $criterias.data('index', index + 1);
        });
    });

    function addRemoveCriteriaLink($criteria) {
        $criteria.find('.panel-footer').append('<a href="#" class="btn btn-link btn-default remove-criteria">{{ 'btn.remove'|trans }}</a>');
        $('.remove-criteria').click(function(e) {
            e.preventDefault();
            $(this).parent().parent().hide('slow', function() {
                $(this).remove();
            });
            return false;
        });
    }
</script>