<script>
    var collectionHolder = $('#app_recommendation_recommendationCriterias');

    var $addCriteriaLink = $('<a href="#" class="add-recommendation-criterias-link">Ajouter un critere</a>');
    var $newLinkLi = $('<div></div>').append($addCriteriaLink);

    jQuery(document).ready(function() {
        collectionHolder.append($newLinkLi);

        $addCriteriaLink.on('click', function(e) {
            e.preventDefault();

            addTagForm(collectionHolder, $newLinkLi);
        });
    });

    function addTagForm(collectionHolder, $newLinkLi) {
        var prototype = collectionHolder.attr('data-prototype');

        var newForm = prototype.replace(/__name__label__/g, collectionHolder.children().length).replace(/__name__/g, collectionHolder.children().length);

        var $newFormLi = $('<div></div>').append(newForm);
        $newLinkLi.before($newFormLi);
    }
</script>