{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css" />
{% endblock %}

{% block body %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Tree</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="chart">
                <div class="tree"></div>
            </div>
        </div><!-- /.box-body -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/jstree.min.js"></script>
    <script>
        $(function() {
            $('.tree')
                .on('changed.jstree', function (e, data) {
                    console.log(data);
                })
                .jstree({
                    'core' : {
                        'data' : {
                            "url" : "{{ path('quiz_tree_data', {id: id}) }}",
                        },
                        "check_callback" : true
                    },
                    "plugins" : ["dnd"]
                })
            ;
        });
    </script>
{% endblock %}
