{% extends 'base.html.twig' %}

{% block title %}Tourist quizzes{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Quizzes list</h3>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Reference</th>
                        <th></th>
                    </tr>
                    {% for p in partitipation %}
                        <tr>
                            <td>1.</td>
                            <td>
                                <a href="{{ path('result_tourist_quiz', { tourist_id: tourist.id, quiz_id: p.quiz.id }) }}">
                                    {{ p.quiz.name }}
                                </a>
                            </td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div><!-- /.box-body -->
    </div>
{% endblock %}
